language: bash
services: docker
before_install:
  - echo "We are in the Docker folder!"
script:
  - docker-compose build
before_deploy:
  - echo "${DOCKER_PASSWORD}" | docker login -- username "${DOCKER_USERNAME}" --password-stdin
deploy:
  provider: script
  script:
    docker push nunesmisa/postgres-rest-with-spring-boot;
    docker push nunesmisa/rest-with-spring-boot;
  on:
    branch: master
notifications:
  email: false